body {
    background-image: url("./images/image-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 400px;
    
    
}
.title {
    background-color: white;
    text-align: center;
    margin: 50px 150px;
    padding: 10px;
    width: 615px;
    border-radius: 25px 25px;
    font-size: 40px;
    border: solid;
    font-weight: bold;
}
.artistinfo {
background-color: white;
text-align: center;
margin: 160px;
border-radius: 25px 25px;
padding: 5px;
border: solid;



}

.go{
color: black;
background-color: white;
font-weight: bold;
text-align: center;
display: block;
border: solid  ;
padding: 15px 30px;
font-size: larger;
border-radius: 25px;
margin: 50px 425px;

}